language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  - CODECEPTION_VERSION="2.1"
  - CODECEPTION_VERSION="2.2"

before_script:
  - composer install -n --prefer-dist --dev
  - composer require codeception/codeception:${CODECEPTION_VERSION}

script:
  - bin/codecept build
  - bin/codecept run
