language: php

php:
  - 5.4
  - 5.5
  - 5.6

env:
  - CODECEPTION_VERSION="^2.1"

before_script:
  - composer install -n --prefer-dist --dev
  - composer require codeception/codeception:${CODECEPTION_VERSION}

script:
  - bin/codecept build
  - bin/codecept run
